extends layout

block content
  h1= title
  - var a=0
  each b,index in [["European rabbit",09,"brown"],["American Rabbit",08,"white"],["havana",10,"black"]]
    div(class ="container-fluid" id="index" onclick=`buy(${index})`)
         div(class="row") 
           div(class="col-sm-2")   #{b[0]}
           div(class="col-sm-2")   #{b[1]}
           div(class="col-sm-2")   #{b[2]}